.footer {
  height: 350px;
  width: 1440px;
  position: relative;
  background-color: #052a40;
}
h5 {
  margin: 0;
  position: absolute;
}
p {
  margin: 0;
  position: absolute;
}
.droom-logo-footer {
  width: 194px;
  height: 130.31px;
  background: transparent url("../assets/images/droom-logo-footer.png") 0% 0%
    no-repeat padding-box;
  position: absolute;
  background-position: center;
  background-size: contain;
  cursor: pointer;
  top: 38px;
  left: 80px;
}
.calendar-icon {
  width: 26.37px;
  height: 26.37px;
  background: transparent url("../assets/icons/calendar.svg") 0% 0% no-repeat
    padding-box;
  position: absolute;
  background-position: center;
  top: 200.85px;
  left: 80px;
}
.calendar-text {
  width: 297px;
  height: 24px;
  top: 202.03px;
  left: 121.75px;
}
.email-icon {
  width: 31.04px;
  height: 21.82px;
  background: transparent url("../assets/icons/mail.svg") 0% 0% no-repeat
    padding-box;
  position: absolute;
  background-position: center;
  top: 250.71px;
  left: 80.97px;
}
.email-text {
  width: 164px;
  height: 24px;
  top: 247.53px;
  left: 123.93px;
}
.download-text {
  width: 133px;
  height: 21px;
  top: 76px;
  left: 666.4px;
}
.watch-text {
  width: 77px;
  height: 21px;
  top: 76px;
  left: 933.4px;
}
.follow-text {
  width: 170px;
  height: 21px;
  top: 76px;
  left: 1134.83px;
}
.apple-icon {
  width: 25.55px;
  height: 31.33px;
  background: transparent url("../assets/icons/apple-black-logo.svg") 0% 0%
    no-repeat padding-box;
  position: absolute;
  background-position: center;
  top: 105.35px;
  left: 666.4px;
}
.playstore-icon {
  width: 25.93px;
  height: 28.56px;
  background: transparent url("../assets/images/Group\ 5526.png") 0% 0%
    no-repeat padding-box;
  position: absolute;
  background-position: center;
  top: 108.35px;
  left: 720px;
}
.youtube-icon {
  width: 42px;
  height: 29.41px;
  background: transparent url("../assets/images/youtube.png") 0% 0% no-repeat
    padding-box;
  position: absolute;
  background-position: center;
  top: 107.27px;
  left: 933.4px;
}
.insta-icon {
  width: 32px;
  height: 32px;
  background: transparent url("../assets/icons/instagram.svg") 0% 0% no-repeat
    padding-box;
  position: absolute;
  background-position: center;
  top: 110.93px;
  left: 1134.83px;
}
.fb-icon {
  width: 30px;
  height: 30px;
  background: transparent url("../assets/icons/facebook.svg") 0% 0% no-repeat
    padding-box;
  position: absolute;
  background-position: center;
  top: 110.93px;
  left: 1184.83px;
}
.x-icon {
  width: 30px;
  height: 30px;
  background: transparent url("../assets/icons/twitter\ \(1\).svg") 0% 0%
    no-repeat padding-box;
  position: absolute;
  background-position: center;
  top: 110.93px;
  left: 1232.83px;
}
.linkedin-icon {
  width: 30px;
  height: 30px;
  background: transparent url("../assets/icons/linkedin.svg") 0% 0% no-repeat
    padding-box;
  position: absolute;
  background-position: center;
  top: 110.93px;
  left: 1280.83px;
}
.pinterest-icon {
  width: 30px;
  height: 30px;
  background: transparent url("../assets/icons/pinterest.svg") 0% 0% no-repeat
    padding-box;
  position: absolute;
  background-position: center;
  top: 110.93px;
  left: 1328.83px;
}
.rights {
  width: 127px;
  height: 21px;
  position: absolute;
  top: 295.25px;
  left: 652.97px;
}

@media (max-width: 912px) {
  /* Tablet view */
  .footer {
    height: 350px;
    width: 100%;
  }
  .droom-logo-footer {
    width: 194px;
    height: 130.31px;
    top: 40px;
    left: 20px;
  }
  .calendar-icon {
    top: 185px;
    left: 22px;
  }
  .calendar-text {
    width: 270px;
    top: 187px;
    left: 55px;
  }
  .email-icon {
    top: 230px;
    left: 20px;
  }
  .email-text {
    top: 230px;
    left: 60px;
  }
  .download-text {
    width: 125px;
    top: 50px;
    left: 450px;
  }
  .watch-text {
    top: 130px;
    left: 450px;
  }
  .follow-text {
    top: 210px;
    left: 450px;
  }
  .apple-icon {
    top: 80px;
    left: 450px;
  }
  .playstore-icon {
    top: 83px;
    left: 495px;
  }
  .youtube-icon {
    top: 165px;
    left: 450px;
  }
  .insta-icon {
    top: 240px;
    left: 450px;
  }
  .fb-icon {
    top: 240px;
    left: 500px;
  }
  .x-icon {
    top: 240px;
    left: 550px;
  }
  .linkedin-icon {
    top: 240px;
    left: 600px;
  }
  .pinterest-icon {
    top: 240px;
    left: 650px;
  }
  .rights {
    top: 310px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 720px) {
  /* Tablet view */
  .download-text {
    left: 350px;
  }
  .watch-text {
    left: 350px;
  }
  .follow-text {
    left: 350px;
  }
  .apple-icon {
    left: 350px;
  }
  .playstore-icon {
    left: 390px;
  }
  .youtube-icon {
    left: 350px;
  }
  .insta-icon {
    left: 350px;
  }
  .fb-icon {
    left: 400px;
  }
  .x-icon {
    left: 450px;
  }
  .linkedin-icon {
    left: 500px;
  }
  .pinterest-icon {
    left: 550px;
  }
  .rights {
    top: 310px;
    left: 50%;
    transform: translateX(-50%);
  }
}
@media (max-width: 600px) {
  /* Mobile view */
  .footer {
    height: 500px;
    width: 100%;
  }
  .droom-logo-footer {
    width: 194px;
    height: 130.31px;
    top: 20px;
    left: 15px;
  }
  .calendar-icon {
    top: 165px;
    left: 15px;
  }
  .calendar-text {
    top: 167px;
    left: 45px;
  }
  .email-icon {
    top: 215px;
    left: 12px;
  }
  .email-text {
    top: 215px;
    left: 50px;
  }
  .download-text {
    width: 125px;
    top: 270px;
    left: 15px;
  }
  .watch-text {
    top: 330px;
    left: 15px;
  }
  .follow-text {
    top: 390px;
    left: 15px;
  }
  .apple-icon {
    top: 295px;
    left: 15px;
  }
  .playstore-icon {
    top: 298px;
    left: 55px;
  }
  .youtube-icon {
    top: 355px;
    left: 15px;
  }
  .insta-icon {
    top: 415px;
    left: 15px;
  }
  .fb-icon {
    top: 415px;
    left: 55px;
  }
  .x-icon {
    top: 415px;
    left: 95px;
  }
  .linkedin-icon {
    top: 415px;
    left: 135px;
  }
  .pinterest-icon {
    top: 415px;
    left: 175px;
  }
  .rights {
    top: 460px;
    left: 50%;
    transform: translateX(-50%);
  }
}
